<?php
class Env {
  public static $TOKEN = "";

  public static $GROUP_ID = -1;
  public static $USER_ID = 0;

  public static $ADMIN_ID = 0;
  public static $COMMAND = '/status';

  public static $CAPTION = 'Здравствуйте';
  public static $REPLY = '✨ Благодарю!';

  public static $URL = "https://api.openweathermap.org/data/2.5/onecall?" .
                       "lat=41.55&lon=60.64&exclude=minutely,hourly,daily&" .
                       "units=metric&appid=6d00d1d4e704068d70191bad2673e0cc&lang=ru";
  public static $CELSIUS = '°C';
}