<?php /** @noinspection SpellCheckingInspection */

class Env {
  const TOKEN = '';

  const GROUP_ID = -1;
  const USER_ID = 0;

  const ADMIN_ID = 0;
  const COMMAND = '/status';

  const CAPTION = 'Здравствуйте';
  const REPLY = '✨ Благодарю!';

  const URL = 'https://api.openweathermap.org/data/2.5/onecall?' .
              'lat=41.55&lon=60.64&exclude=minutely,hourly,daily&' .
              'units=metric&appid=6d00d1d4e704068d70191bad2673e0cc&lang=ru';
  const CELSIUS = '°C';

  const LATITUDE = 0;
  const LONGITUDE = 0;
  const TITLE = 'Благодарю';
  const ADDRESS = 'от души!';
}